<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Calculator</h1>
    
    <form action='/calculate' method='POST'>
        <lablel for='dropdown'> Select an option:</lablel>
        <select id ='operation' name ='operation'>
            <option value="add">Add</option>
            <option value="sub">Sub</option>
            <option value="div">Divide</option>
        </select>
        <br><br>
        <lablel for='number1'> Number 1:</lablel>
        <input type='number' id='number1' name='number1'>
        <br><br>
        <lablel for='number2'> Number 2:</lablel>
        <input type='number' id='number2' name='number2'>
        <br><br>
        <input type='submit' value = 'Calculate!'>
    </form>

</body>
</html>